<section class="hero is-fullheight has-text-centered has-background-white" id="about">
    <div class="hero-body">
        <div class="container has-text-left">
            <p class="has-text-link is-size-2 has-text-weight-bold">Deliverables</p>
            <div class="columns mt-6">
              <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd is-one-third-widescreen">
                  <p class="has-text-info is-size-4 has-text-weight-bold">Software Development</p>
                  <p>{{site.author-about}}</p>
              </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd is-one-third-widescreen">
                    <p class="has-text-info is-size-4 has-text-weight-bold">Machine/Deep Learning</p>
                    <p>{{site.author-about}}</p>
                </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd is-one-third-widescreen">
                    <p class="has-text-info is-size-4 has-text-weight-bold">Entrepreneur</p>
                    <p>{{site.author-about}}</p>
                </div>
            </div>
        </div>
</section>
